@media (min-width: 1200px) {

    header {
        width: 1200px;
        height: 70px;
        margin: 0px auto;
        line-height: 70px;
    }

    header img {
        height: 21px;
    }

    #lang {
        float: right;
        list-style: none;
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    #kor {
        background-color: #21409a;
        color: #ffffff;
        border-radius: 10px;
        padding: 1px 8px;
        font-size: small;
    }

    #eng {
        padding: 1px 8px;
        font-size: small;
    }

    #more {
        display: none;
    }

    nav {
        clear: both;
        width: 1200px;
        height: 60px;
        background-color: #21409A;
        margin: 0 auto; /*가운데 정렬*/
        text-align: center;
        position: relative;
        z-index: 999;
    }

    nav ul {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    nav > ul > li > a {
        text-decoration: none;
        color: #fcfcfc;
        line-height: 60px;
    }

    nav ul ul li > a {
        text-decoration: none;
        color: #21409A;
        word-break: keep-all;
    }

    nav > ul > li {
        list-style: none;
        float: left;
        width: 180px;
        position: relative;
    } /* nav 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */

    nav > ul > li > ul {
        width: 100%;
        display: none;
        position: relative;
        font-size: 14px;
        color: #21409A;
        white-space-treatment: nowrap;
        overflow: hidden;
        border: 1px solid #21409A;
        background-color: #fcfcfc;
    }

    nav > ul > li > ul > li{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    nav > ul > li:hover > ul {
        display: block;
    }

    nav > ul > li > ul > li:hover{
        background: #21409A;
        color: #fcfcfc;
        transition: ease 1s;
    }

    nav > ul > li > ul > li:hover a{
        color: #fcfcfc;
        transition: ease 1s;
    }

    #main {
        width: 1200px;
        margin: 20px auto;
        display: flex;
        align-items: stretch;
        height: auto;
    }

    #visual {
        width: 638px;
        height: 100%;
    }

    #visual img{
        display: block;
        margin: 0px auto;
    }

    #mC {
        width: 562px;
        height: 100%;
    }

    #mC ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    #mC ul li{
        list-style: none;
        flex: 1 1 40%;
        align-self: stretch;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
        margin: 0px 3px 0px 3px;
        border-radius: 5px;
    }

    #mC img {
        width: 80%;
        display: block;
        margin: 10px auto;
        padding: 3px;
    }

    .pageNavi li a {
        display: block;
        width: 12px;
        height: 12px;
        background-color: #dcdcdc;
        border-radius: 50%;
    }

    .slide_box {
        width: 1200px;
    }

    #footerInfo > ul {
        width: 1200px;
    }

    address {
        width: 1200px;
    }

}

@media (max-width: 1200px) {

    body {
        position: relative;
        z-index: -1;
    }

    header {
        width: 100%;
        height: 70px;
        margin: 0px auto;
        line-height: 70px;
    }

    header img {
        height: 21px;
    }

    #lang {
        float: right;
        list-style: none;
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    #kor {
        background-color: #21409a;
        color: #ffffff;
        border-radius: 10px;
        padding: 1px 8px;
        font-size: small;
    }

    #eng {
        padding: 1px 8px;
        font-size: small;
    }

    body > a {
        width: 100%;
        height: 60px;
        background-color: #21409A;
        margin: 0 auto; /*가운데 정렬*/
        display: block;
    }

    #more{
        display: block;
        height: 60px;
        background-color: #21409A;
    }

    .hamburger {
        float: left;
        padding-top: 7px;
        padding-left: 10px;
    }

    .hamburger .line{
        width: 50px;
        height: 5px;
        background-color: #ecf0f1;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    nav:not(#col) {
        font-family: 'Nanum Gothic', sans-serif;
        background-color: #21409A;
        line-height: 60px;
        width: 200px;
        float: left;
        display: none;
        position: absolute;
    }

    #hamburger-2.is-active .line:nth-child(1){
        -webkit-transform: translateY(13px);
        -ms-transform: translateY(13px);
        -o-transform: translateY(13px);
        transform: translateY(13px);
    }

    #hamburger-2.is-active .line:nth-child(3){
        -webkit-transform: translateY(-13px);
        -ms-transform: translateY(-13px);
        -o-transform: translateY(-13px);
        transform: translateY(-13px);
    }

    nav:not(#col).is-active {
        display: block;
    }


    ul {
        padding: 0px;
    }

    nav > ul > li > a {
        text-decoration: none;
        color: #fcfcfc;
        padding: 10px;
    }

    nav ul ul li > a {
        text-decoration: none;
        color: #21409A;
        padding: 10px;
    }

    nav > ul > li > ul {
        display: none;
        padding: 0px;
        font-size: 14px;
        color: #21409A;
        border: 1px solid #21409A;
        background-color: #fcfcfc;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: absolute;
    }

    nav ul ul.active {
        display: block;
        position: relative;
    }

    nav > ul > li > ul > li:hover{
        background: #21409A;
        color: #fcfcfc;
        transition: ease 1s;
    }

    nav > ul > li > ul > li:hover a{
        color: #fcfcfc;
        transition: ease 1s;
        padding: 15px;
    }

    main {
        position: relative;
        z-index: -1;
    }

    #main {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: stretch;
        height: auto;
    }

    #visual {
        /*display: inline-block;*/
        width: 100%;
    }

    #visual > img {
        width: 100%;
    }

    #mC {
        width: 100%;
    }

    #mC ul{
        list-style: none;
        display: inline-block;
        padding: 0px;
        width: 100%;
    }

    #mC ul li{
        width: 32%;
        list-style: none;
        display: inline-block;
    }

    #mC ul li img{
        width: 100%;
        list-style: none;
        display: inline-block;
    }

    aside {
        width: 100%;
    }

    .slide_box {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    #footerInfo > ul {
        width: 100%;
    }

    address {
        width: 95%;
        word-break: keep-all;
    }

    @media (max-width: 800px) {
        #mC ul li{
            width: 49%;
            list-style: none;
            display: inline-block;
        }
    }

    @media (max-width: 600px) {
        header {
            width: 600px;
        }

        #mC ul li{
            width: 100%;
            list-style: none;
            display: inline-block;
        }
    }

    aside {
        clear: both;
    }
}

html {
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    margin: 0px;
}

aside {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid lightgray;
}

.next {
    float: right;
}

.prev, .next {
    position: relative;
    z-index: 100;
    height: 100%;
    border: 1px solid lightgray;
    background-color: white;
    color: lightgray;
}

.slide_box {
    position: relative;
    height: 80px;
    margin: auto;
    overflow: hidden;
}

.slide_wrap {
    padding: 0px;
    list-style: none;
    position: absolute;
    left: 0;
    width: 2000px;
/*    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;*/
}

.slide_wrap.animated {
    transition: 0.5s ease-out;
}

.slide_item {
    float: left;
    width: 200px;
    line-height: 70px;
}

.slide_item img {
    display: block;
    margin: 0px auto;
}

#footerInfo ul {
      padding: 0px;
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      overflow: hidden;
}

footer {
    background-color: #231f20;
    color: white;
    width: 100%;
    position : relative;
    clear: both;
    padding-bottom: 50px;
    margin-top: 0px;
}

#footerInfo {
    border-bottom: 1px solid #60667c;
}

#footerInfo > ul {
    margin: 0px auto;
}

#footerInfo ul li {
    padding: 15px 20px;
    font-style: normal;
}

address {
    margin: 0px auto;
    padding: 15px 20px;
    color: #d1d2d4;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: small;
    font-weight: normal;
    font-style: normal;
}

address span {
    font-size: 8px;
    display: inline-block;
    margin: 0 15px;
    font-weight: 100;
}
